include ../../../node_modules/bempug/index
- BEMPUG.modifier = '_';
include variables
include mixins

doctype html
html(lang="ru")
  include ../modules/head

  body
    include ../modules/header/header

    include ../modules/bread-crumbs/bread-crumbs

    section.ftco-section
      .container

        table.table.table-striped.table-hover.mb-5
          thead
            tr
              th(scope="col").text-center №
              th(scope="col").text-center Ремонт двигателя
              th(scope="col").text-center Нормочас
              th(scope="col").text-center Стоимость
          tbody
            +rowService(
              '1',
              'Двигатель и коробка передач (в сборе) - замена',
              '14',
              '632.17'
              )
            +rowService(
              '2',
              'Опора двигателя в моторном отсеке. Задняя',
              '2,2',
              '99.34'
            )
            +rowService(
              '3',
              'Опора двигателя в моторном отсеке. Правая',
              '1.44',
              '65.02'
            )
            +rowService(
              '4',
              'Опора двигателя в моторном отсеке. Левая',
              '0,9',
              '40.64'
            )
            +rowService(
              '5',
              'Давление сжатия. Один. Бензин',
              '0.23',
              '10.39'
            )
            +rowService(
              '6',
              'Давление сжатия. Один. Дизель',
              '0.37',
              '16.71'
            )
            +rowService(
              '7',
              'Головка цилиндров и прокладка',
              '6,2',
              '279.96'
            )
            +rowService(
              '8',
              'Клапаны. Уплотнение стебля (при снятой ГБЦ)',
              '1',
              '45.16'
            )
            +rowService(
              '9',
              'Головка цилиндров. Замена деталей',
              '12',
              '541.86'
            )
            +rowService(
              '10',
              'Клапаны. Зазоры',
              '4',
              '180.62'
            )
            +rowService(
              '12',
              'Фазы газораспределения',
              '2',
              '90.31'
            )
            +rowService(
              '13',
              'Распределительный вал. Натяжитель ремня/цепи',
              '3,2',
              '144.50'
            )
            +rowService(
              '14',
              'Распределительный вал. Ремень/цепь привода',
              '2,9',
              '130.95'
            )
            +rowService(
              '15',
              'Коленчатый вал. Передний шкив',
              '1,2',
              '54.19'
            )
            +rowService(
              '16',
              'Коленчатый вал. Задний сальник',
              '6,8',
              '307.05'
            )
            +rowService(
              '17',
              'Коленчатый вал. Передний сальник',
              '4',
              '180.62'
            )
            +rowService(
              '18',
              'Поршневые кольца',
              '15',
              '677.33'
            )
            +rowService(
              '19',
              'Давление масла',
              '1',
              '45.16'
            )
            +rowService(
              '20',
              'Масляный поддон',
              '2,4',
              '108.37'
            )
            +rowService(
              '21',
              'Масляный насос',
              '3,4',
              '153.53'
            )
            +rowService(
              '22',
              'Масляный фильтр',
              '0,4',
              '18.06'
            )
            +rowService(
              '23',
              'Двигатель – замена на контрактный с доработками и настройками',
              '26',
              '1174.03'
            )
            

        table.table.table-striped.table-hover.mb-5
          thead
            tr
              th(scope="col").text-center №
              th(scope="col").text-center Ремонт системы зажигания и впрыска топлива
              th(scope="col").text-center Нормочас
              th(scope="col").text-center Стоимость
          tbody
            +rowService(
              '1',
              'Впускной коллектор',
              '1,5',
              '67.73'
            )
            +rowService(
              '2',
              'Датчик детонации',
              '0,6',
              '27.09'
            )
            +rowService(
              '3',
              'Свечи зажигания',
              '0,8',
              '36.12'
            )
            +rowService(
              '4',
              'Катушка зажигания',
              '0,6',
              '27.09'
            )
            +rowService(
              '5',
              'Распределитель',
              '0,5',
              '22.58'
            )
            +rowService(
              '6',
              'Привод дросселя. Трос',
              '0,6',
              '27.09'
            )
            +rowService(
              '7',
              'Холостой ход и уровень выбросов СО',
              '0,4',
              '18.06'
            )
            +rowService(
              '8',
              'Форсунки (очистка ультрозвуком)',
              '3,4',
              '153.53'
            )
            +rowService(
              '9',
              'Датчик абсолютного давления воздуха',
              '0,5',
              '22.58'
            )
            +rowService(
              '10',
              'Регулятор давления топлива',
              '0,8',
              '36.12'
            )
            +rowService(
              '11',
              'Клапан управления холостым ходом',
              '0,5',
              '22.58'
            )
            +rowService(
              '12',
              'Корпус дросселя',
              '0,7',
              '31.61'
            )
            +rowService(
              '13',
              'Датчик положения дросселя (потенциометр)',
              '0,8',
              '36.12'
            )
            +rowService(
              '14',
              'Датчик скорости автомобиля',
              '1',
              '45.16'
            )
            +rowService(
              '15',
              'Датчик температуры воздуха на впуске',
              '0,7',
              '31.61'
            )
            +rowService(
              '16',
              'Датчик температуры охлаждающей жидкости',
              '1,5',
              '67.73'
            )
            +rowService(
              '17',
              'Топливная шина',
              '0,6',
              '27.09'
            )
            +rowService(
              '18',
              'Электронный узел управления впрыском и зажиганием',
              '0,3',
              '13.55'
            )
            +rowService(
              '19',
              'Давление топлива',
              '0,7',
              '31.61'
            )
            +rowService(
              '20',
              'Топливопровод подающий',
              '0,3',
              '13.55'
            )
            +rowService(
              '21',
              'Топливопровод подающий',
              '0,3',
              '13.55'
            )
            +rowService(
              '22',
              'Топливный фильтр - отстойник',
              '0,7',
              '31.61'
            )
            +rowService(
              '23',
              'Топливный бак',
              '2,3',
              '103.86'
            )
            +rowService(
              '24',
              'Топливный насос',
              '1,5',
              '67.73'
            )


    include ../modules/footer/footer