include ../../node_modules/bempug/index
- BEMPUG.modifier = '_';
- const titlePage = 'Контакты | Авторемонт в Бресткой области';
- const nameBreadCrumbs = 'Контакты';
- const classActiveLink = "Контакты";

doctype html
html(lang="ru")
  include includes/head
  body
    include includes/header
    main
      include includes/blocks/block-bread-crumbs
    
      
      section.ftco-section.bg-light
        .container
          .row.justify-content-center
            .col-md-12
              .wrapper
                .row.no-gutters
                  .col-md-7.d-flex
                    .contact-wrap.w-100.p-md-5.p-4
                      h3.mb-4 Get in touch
                      form#contactForm.contactForm(method='POST')
                        .row
                          .col-md-6
                            .form-group
                              input#name.form-control(type='text' name='name' placeholder='Name')
                          .col-md-6
                            .form-group
                              input#email.form-control(type='email' name='email' placeholder='Email')
                          .col-md-12
                            .form-group
                              input#subject.form-control(type='text' name='subject' placeholder='Subject')
                          .col-md-12
                            .form-group
                              textarea#message.form-control(name='message' cols='30' rows='7' placeholder='Message')
                          .col-md-12
                            .form-group
                              input.btn.btn-primary(type='submit' value='Send Message')
                              .submitting
                  .col-md-5.d-flex.align-items-stretch
                    .info-wrap.bg-primary.w-100.p-lg-5.p-4
                      h3.mb-4.mt-md-4 Contact us
                      .dbox.w-100.d-flex.align-items-start
                        .icon.d-flex.align-items-center.justify-content-center
                          span.fa.fa-map-marker
                        .text.pl-3
                          p
                            span Address:
                            |  198 West 21th Street, Suite 721 New York NY 10016
                      .dbox.w-100.d-flex.align-items-center
                        .icon.d-flex.align-items-center.justify-content-center
                          span.fa.fa-phone
                        .text.pl-3
                          p
                            span Phone:
                            a(href='tel://1234567920') + 1235 2355 98
                      .dbox.w-100.d-flex.align-items-center
                        .icon.d-flex.align-items-center.justify-content-center
                          span.fa.fa-paper-plane
                        .text.pl-3
                          p
                            span Email:
                            a(href='mailto:info@yoursite.com') info@yoursite.com
                      .dbox.w-100.d-flex.align-items-center
                        .icon.d-flex.align-items-center.justify-content-center
                          span.fa.fa-globe
                        .text.pl-3
                          p
                            span Website
                            a(href='#') yoursite.com
            .col-md-12
              iframe(src='https://yandex.ru/map-widget/v1/-/CCUa4RquTC' width='100%' height='450' style='border:0;' allowfullscreen='' loading='lazy')#map.map


    //- iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9555.410912468567!2d50.1974404!3d53.2204889!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41661eb33a10eceb%3A0x6584fa04b538adba!2z0JPQsNCz0LDRgNC40L3RgdC60LjQuQ!5e0!3m2!1sru!2sru!4v1621260088134!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy")


    include includes/footer
      //- script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')



