include ../../node_modules/bempug/index
- BEMPUG.modifier = '_';
- const titlePage = 'Главная | Авторемонт в Бресткой области';

doctype html
html(lang="ru")
  include includes/head

  body
    include includes/header

    .hero-wrap
      .home-slider.owl-carousel
        .slider-item(style='background-image:url(../src/public/images/bg_1.jpg);')
          .overlay
          .container
            .row.no-gutters.slider-text.align-items-center.justify-content-start
              .col-md-6.ftco-animate
                .text.w-100
                  h2 Мы лучший автосервис
                  h1.mb-4 Сделайте вашу машину лучше
                  p
                    a.btn.btn-primary(href='#') Записаться на диагностьику
        .slider-item(style='background-image:url(../src/public/images/bg_2.jpg);')
          .overlay
          .container
            .row.no-gutters.slider-text.align-items-center.justify-content-start
              .col-md-6.ftco-animate
                .text.w-100
                  h2 Мы позаботимся о вашей машине
                  h1.mb-4 Пришло время ремонтировать машину
                  p
                    a.btn.btn-primary(href='#') Записаться на диагностьику
    section.intro
      .container.intro-wrap
        .row.no-gutters
          .col-md-12.col-lg-9.bg-intro.d-sm-flex.align-items-center.align-items-stretch
            .intro-box.d-flex.align-items-center
              .icon.d-flex.align-items-center.justify-content-center
                i.flaticon-repair
              h2.mb-0
                | Вы готовы?
                span  Давайте прямо сейчас отремонтируем!
            a.bg-primary.btn-custom.d-flex.align-items-center(href='#')
              span Записаться на прием
    section.ftco-section
      .container
        .row.justify-content-center.pb-5.mb-3
          .col-md-7.heading-section.text-center.ftco-animate
            span.subheading Предлагаем услуги
            h2 Наши услуги по ремонту
        .row
          .col-md-4.services.ftco-animate
            .d-block.d-flex
              .icon.d-flex.justify-content-center.align-items-center
                span.flaticon-car-service
              .media-body.pl-3
                h3.heading Oil change
                p
                  | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
                p
                  a.btn-custom(href='#') Читать подробнее
            .d-block.d-flex
              .icon.d-flex.justify-content-center.align-items-center
                span.flaticon-tyre
              .media-body.pl-3
                h3.heading Tire Change
                p
                  | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
                p
                  a.btn-custom(href='#') Читать подробнее
          .col-md-4.services.ftco-animate
            .d-block.d-flex
              .icon.d-flex.justify-content-center.align-items-center
                span.flaticon-battery
              .media-body.pl-3
                h3.heading Batteries
                p
                  | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
                p
                  a.btn-custom(href='#') Читать подробнее
            .d-block.d-flex
              .icon.d-flex.justify-content-center.align-items-center
                span.flaticon-car-engine
              .media-body.pl-3
                h3.heading Engine Repair
                p
                  | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
                p
                  a.btn-custom(href='#') Читать подробнее
          .col-md-4.services.ftco-animate
            .d-block.d-flex
              .icon.d-flex.justify-content-center.align-items-center
                span.flaticon-tow-truck
              .media-body.pl-3
                h3.heading Tow Truck
                p
                  | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
                p
                  a.btn-custom(href='#') Читать подробнее
            .d-block.d-flex
              .icon.d-flex.justify-content-center.align-items-center
                span.flaticon-repair
              .media-body.pl-3
                h3.heading Car Maintenance
                p
                  | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
                p
                  a.btn-custom(href='#') Читать подробнее
    section.ftco-section.ftco-no-pt.ftco-no-pb.bg-light
      .container
        .row.d-flex.no-gutters
          .col-md-6.d-flex
            .img.img-video.d-flex.align-self-stretch.align-items-center.justify-content-center.mb-4.mb-sm-0(style='background-image:url(../src/public/images/about.jpg);')
              a.icon-video.popup-vimeo.d-flex.justify-content-center.align-items-center(href='https://vimeo.com/45830194')
                span.fa.fa-play
          .col-md-6.pl-md-5
            .row.justify-content-start.py-5
              .col-md-12.heading-section.ftco-animate
                span.subheading Welcome to Autorepair
                h2.mb-4 We help more than 45 years serving customer car
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                .tabulation-2.mt-4
                  ul.nav.nav-pills.nav-fill.d-md-flex.d-block
                    li.nav-item.mb-md-0.mb-2
                      a.nav-link.active.py-2(data-toggle='tab' href='#home1') Наша миссия
                    li.nav-item.px-lg-2.mb-md-0.mb-2
                      a.nav-link.py-2(data-toggle='tab' href='#home2') Наш взгляд
                    li.nav-item
                      a.nav-link.py-2.mb-md-0.mb-2(data-toggle='tab' href='#home3') Наши ценности
                  .tab-content.rounded.mt-2
                    #home1.tab-pane.container.p-0.active
                      p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                    #home2.tab-pane.container.p-0.fade
                      p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                    #home3.tab-pane.container.p-0.fade
                      p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
    section#section-counter.ftco-counter
      .container
        .row
          .col-md-6.col-lg-3.d-flex.justify-content-center.counter-wrap.ftco-animate
            .block-18.text-center
              .text
                strong.number(data-number='26') 0
              .text
                span Лет опыта
          .col-md-6.col-lg-3.d-flex.justify-content-center.counter-wrap.ftco-animate
            .block-18.text-center
              .text
                strong.number(data-number='8500') 0
              .text
                span Project completed
          .col-md-6.col-lg-3.d-flex.justify-content-center.counter-wrap.ftco-animate
            .block-18.text-center
              .text
                strong.number(data-number='2342') 0
              .text
                span Happy Customers
          .col-md-6.col-lg-3.d-flex.justify-content-center.counter-wrap.ftco-animate
            .block-18.text-center
              .text
                strong.number(data-number='30') 0
              .text
                span Award Winning
    section.ftco-appointment.ftco-section.ftco-no-pt.ftco-no-pb.img(style='background-image: url(../src/public/images/bg_3.jpg);')
      .overlay
      .container
        .row.d-md-flex.justify-content-end
          .col-md-12.col-lg-6.half.p-3.py-5.pl-lg-5.ftco-animate.heading-section.heading-section-white
            span.subheading Записаться на прием
            h2.mb-4 Бесплатная консультация
            form.appointment(action='#')
              .row
                .col-md-12
                  .form-group
                    .form-field
                      .select-wrap
                        .icon
                          span.fa.fa-chevron-down
                        select.form-control(name='' id='')
                          option(value='') Выбрать услуги
                          option(value='') Поменять масло
                          option(value='') Ремонт двигателя
                          option(value='') Батарея Заменить
                          option(value='') Сменить шину
                          option(value='') Эвакуатор
                .col-md-6
                  .form-group
                    input.form-control(type='text' placeholder='Ваше Имя')
                .col-md-6
                  .form-group
                    input.form-control(type='text' placeholder='Номер автомобиля')
                .col-md-6
                  .form-group
                    .input-wrap
                      .icon
                        span.fa.fa-calendar
                      input.form-control.appointment_date(type='text' placeholder='Дата')
                .col-md-6
                  .form-group
                    .input-wrap
                      .icon
                        span.fa.fa-clock-o
                      input.form-control.appointment_time(type='text' placeholder='Время')
                .col-md-12
                  .form-group
                    textarea.form-control(name='' id='' cols='30' rows='7' placeholder='Сообщение')
                .col-md-12
                  .form-group
                    input.btn.btn-dark.py-3.px-4(type='submit' value='Отправить заявку')
    section.ftco-section.testimony-section.bg-light
      .container
        .row.justify-content-center.pb-5.mb-3
          .col-md-7.heading-section.text-center.ftco-animate
            span.subheading Отзывы
            h2 Отзывы наших счастливых клиентов
        .row.ftco-animate
          .col-md-12
            .carousel-testimony.owl-carousel.ftco-owl
              .item
                .testimony-wrap.py-4
                  .icon.d-flex.align-items-center.justify-content-center
                    span.fa.fa-quote-left
                  .text
                    p.mb-4
                      | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    .d-flex.align-items-center
                      .user-img(style='background-image: url(../src/public/images/person_1.jpg)')
                      .pl-3
                        p.name Roger Scott
                        span.position Marketing Manager
              .item
                .testimony-wrap.py-4
                  .icon.d-flex.align-items-center.justify-content-center
                    span.fa.fa-quote-left
                  .text
                    p.mb-4
                      | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    .d-flex.align-items-center
                      .user-img(style='background-image: url(../src/public/images/person_2.jpg)')
                      .pl-3
                        p.name Roger Scott
                        span.position Marketing Manager
              .item
                .testimony-wrap.py-4
                  .icon.d-flex.align-items-center.justify-content-center
                    span.fa.fa-quote-left
                  .text
                    p.mb-4
                      | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    .d-flex.align-items-center
                      .user-img(style='background-image: url(../src/public/images/person_3.jpg)')
                      .pl-3
                        p.name Roger Scott
                        span.position Marketing Manager
              .item
                .testimony-wrap.py-4
                  .icon.d-flex.align-items-center.justify-content-center
                    span.fa.fa-quote-left
                  .text
                    p.mb-4
                      | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    .d-flex.align-items-center
                      .user-img(style='background-image: url(../src/public/images/person_1.jpg)')
                      .pl-3
                        p.name Roger Scott
                        span.position Marketing Manager
              .item
                .testimony-wrap.py-4
                  .icon.d-flex.align-items-center.justify-content-center
                    span.fa.fa-quote-left
                  .text
                    p.mb-4
                      | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    .d-flex.align-items-center
                      .user-img(style='background-image: url(../src/public/images/person_2.jpg)')
                      .pl-3
                        p.name Roger Scott
                        span.position Marketing Manager
    section.ftco-section
      .container
        .row.justify-content-center.pb-5.mb-3
          .col-md-7.heading-section.text-center.ftco-animate
            span.subheading Новости  и блог
            h2 Последние новости нашего блога
        .row.d-flex
          .col-md-4.d-flex.ftco-animate
            .blog-entry.align-self-stretch
              a.block-20.rounded(href='blog-single.html' style="background-image: url('../src/public/images/image_1.jpg');")
              .text.mt-3
                .posted.mb-3.d-flex
                  .img.author(style='background-image: url(../src/public/images/person_2.jpg);')
                  .desc.pl-3
                    span Posted by John doe
                    span 24 February 2020
                h3.heading
                  a(href='#') Best wheel alignment &amp; air conditioning
          .col-md-4.d-flex.ftco-animate
            .blog-entry.align-self-stretch
              a.block-20.rounded(href='blog-single.html' style="background-image: url('../src/public/images/image_2.jpg');")
              .text.mt-3
                .posted.mb-3.d-flex
                  .img.author(style='background-image: url(../src/public/images/person_3.jpg);')
                  .desc.pl-3
                    span Posted by John doe
                    span 24 February 2020
                h3.heading
                  a(href='#') Best wheel alignment &amp; air conditioning
          .col-md-4.d-flex.ftco-animate
            .blog-entry.align-self-stretch
              a.block-20.rounded(href='blog-single.html' style="background-image: url('../src/public/images/image_3.jpg');")
              .text.mt-3
                .posted.mb-3.d-flex
                  .img.author(style='background-image: url(../src/public/images/person_1.jpg);')
                  .desc.pl-3
                    span Posted by John doe
                    span 24 February 2020
                h3.heading
                  a(href='#') Best wheel alignment &amp; air conditioning
    section.ftco-section.bg-light
      .container
        .row.justify-content-center.pb-5.mb-3
          .col-md-7.heading-section.text-center.ftco-animate
            span.subheading Price &amp; Plans
            h2 Pricing
        .row
          .col-md-6.col-lg-3.ftco-animate
            .block-7
              .text-center
                span.excerpt.d-block First PMS
                span.price
                  sup $
                  span.number 78.98
                .pricing-text
                  p
                    | A small river named Duden flows by their place and supplies it with the necessary regelialia.
                a.btn.btn-secondary.d-block.px-2.py-3(href='#') Get Started
          .col-md-6.col-lg-3.ftco-animate
            .block-7
              .text-center
                span.excerpt.d-block Engine Diagnostics
                span.price
                  sup $
                  span.number 83.75
                .pricing-text
                  p
                    | A small river named Duden flows by their place and supplies it with the necessary regelialia.
                a.btn.btn-secondary.d-block.px-2.py-3(href='#') Get Started
          .col-md-6.col-lg-3.ftco-animate
            .block-7
              .text-center
                span.excerpt.d-block Tow Truck
                span.price
                  sup $
                  span.number 85.00
                .pricing-text
                  p
                    | A small river named Duden flows by their place and supplies it with the necessary regelialia.
                a.btn.btn-secondary.d-block.px-2.py-3(href='#') Get Started
          .col-md-6.col-lg-3.ftco-animate
            .block-7
              .text-center
                span.excerpt.d-block Car Wash
                span.price
                  sup $
                  span.number 30.50
                .pricing-text
                  p
                    | A small river named Duden flows by their place and supplies it with the necessary regelialia.
                a.btn.btn-secondary.d-block.px-2.py-3(href='#') Get Started
    section.ftco-section.ftco-no-pb
      .container
        .row.justify-content-center.pb-5.mb-3
          .col-md-7.heading-section.text-center.ftco-animate
            span.subheading Projects
            h2 Done Projects
      .container-fluid.px-md-0
        .row.no-gutters
          .col-md-3.ftco-animate
            .work.img.d-flex.align-items-end(style='background-image: url(../src/public/images/work-1.jpg);')
              a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='../src/public/images/work-1.jpg')
                span.fa.fa-expand
              .desc.w-100.px-4
                .text.w-100.mb-3
                  span Engine
                  h2
                    a(href='work-single.html') Engine Testing Complated
          .col-md-3.ftco-animate
            .work.img.d-flex.align-items-end(style='background-image: url(../src/public/images/work-2.jpg);')
              a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='../src/public/images/work-2.jpg')
                span.fa.fa-expand
              .desc.w-100.px-4
                .text.w-100.mb-3
                  span Oil Change
                  h2
                    a(href='work-single.html') Change Oil Completed
          .col-md-3.ftco-animate
            .work.img.d-flex.align-items-end(style='background-image: url(../src/public/images/work-3.jpg);')
              a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='../src/public/images/work-3.jpg')
                span.fa.fa-expand
              .desc.w-100.px-4
                .text.w-100.mb-3
                  span Engine
                  h2
                    a(href='work-single.html') Engine Diagnostics
          .col-md-3.ftco-animate
            .work.img.d-flex.align-items-end(style='background-image: url(../src/public/images/work-4.jpg);')
              a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='../src/public/images/work-4.jpg')
                span.fa.fa-expand
              .desc.w-100.px-4
                .text.w-100.mb-3
                  span Tire
                  h2
                    a(href='work-single.html') Tire Change
    include includes/footer
