include ../../node_modules/bempug/index
- BEMPUG.modifier = '_';
- const titlePage = 'Новости | Авторемонт в Бресткой области';
- const nameBreadCrumbs = 'Новости';

doctype html
html(lang="ru")
  include includes/head

  body
    include includes/header

    include includes/blocks/block-bread-crumbs

    section.ftco-section
      .container
        .row
          .col-md-4.d-flex.ftco-animate
            .blog-entry.align-self-stretch
              a.block-20.rounded(href='blog-single.html' style="background-image: url('images/image_1.jpg');")
              .text.mt-3
                .posted.mb-3.d-flex
                  .img.author(style='background-image: url(images/person_2.jpg);')
                  .desc.pl-3
                    span Posted by John doe
                    span 24 February 2020
                h3.heading
                  a(href='#') Best wheel alignment &amp; air conditioning
          .col-md-4.d-flex.ftco-animate
            .blog-entry.align-self-stretch
              a.block-20.rounded(href='blog-single.html' style="background-image: url('images/image_2.jpg');")
              .text.mt-3
                .posted.mb-3.d-flex
                  .img.author(style='background-image: url(images/person_3.jpg);')
                  .desc.pl-3
                    span Posted by John doe
                    span 24 February 2020
                h3.heading
                  a(href='#') Best wheel alignment &amp; air conditioning
          .col-md-4.d-flex.ftco-animate
            .blog-entry.align-self-stretch
              a.block-20.rounded(href='blog-single.html' style="background-image: url('images/image_3.jpg');")
              .text.mt-3
                .posted.mb-3.d-flex
                  .img.author(style='background-image: url(images/person_1.jpg);')
                  .desc.pl-3
                    span Posted by John doe
                    span 24 February 2020
                h3.heading
                  a(href='#') Best wheel alignment &amp; air conditioning
          .col-md-4.d-flex.ftco-animate
            .blog-entry.align-self-stretch
              a.block-20.rounded(href='blog-single.html' style="background-image: url('images/image_5.jpg');")
              .text.mt-3
                .posted.mb-3.d-flex
                  .img.author(style='background-image: url(images/person_2.jpg);')
                  .desc.pl-3
                    span Posted by John doe
                    span 24 February 2020
                h3.heading
                  a(href='#') Best wheel alignment &amp; air conditioning
          .col-md-4.d-flex.ftco-animate
            .blog-entry.align-self-stretch
              a.block-20.rounded(href='blog-single.html' style="background-image: url('images/image_4.jpg');")
              .text.mt-3
                .posted.mb-3.d-flex
                  .img.author(style='background-image: url(images/person_3.jpg);')
                  .desc.pl-3
                    span Posted by John doe
                    span 24 February 2020
                h3.heading
                  a(href='#') Best wheel alignment &amp; air conditioning
          .col-md-4.d-flex.ftco-animate
            .blog-entry.align-self-stretch
              a.block-20.rounded(href='blog-single.html' style="background-image: url('images/image_6.jpg');")
              .text.mt-3
                .posted.mb-3.d-flex
                  .img.author(style='background-image: url(images/person_1.jpg);')
                  .desc.pl-3
                    span Posted by John doe
                    span 24 February 2020
                h3.heading
                  a(href='#') Best wheel alignment &amp; air conditioning
        .row.mt-5
          .col.text-center
            .block-27
              ul
                li
                  a(href='#') &lt;
                li.active
                  span 1
                li
                  a(href='#') 2
                li
                  a(href='#') 3
                li
                  a(href='#') 4
                li
                  a(href='#') 5
                li
                  a(href='#') &gt;

    include includes/footer