include ../../node_modules/bempug/index
- BEMPUG.modifier = '_';
- const titlePage = 'Проекты | Авторемонт в Бресткой области';
- const nameBreadCrumbs = 'Проекты';
- const classActiveLink = "Проекты";

doctype html
html(lang="ru")
  include includes/head
  body
    include includes/header
    main
      include includes/blocks/block-bread-crumbs
// END nav
section.ftco-section
  .container
    .row.justify-content-center.pb-5.mb-3
      .col-md-7.heading-section.text-center.ftco-animate
        span.subheading Projects
        h2 Done Projects
  .container
    .row
      .col-md-4.ftco-animate
        .work.mb-4.img.d-flex.align-items-end(style='background-image: url(images/work-1.jpg);')
          a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/work-1.jpg')
            span.fa.fa-expand
          .desc.w-100.px-4
            .text.w-100.mb-3
              span Engine
              h2
                a(href='work-single.html') Engine Testing Complated
      .col-md-4.ftco-animate
        .work.mb-4.img.d-flex.align-items-end(style='background-image: url(images/work-2.jpg);')
          a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/work-2.jpg')
            span.fa.fa-expand
          .desc.w-100.px-4
            .text.w-100.mb-3
              span Oil Change
              h2
                a(href='work-single.html') Change Oil Completed
      .col-md-4.ftco-animate
        .work.mb-4.img.d-flex.align-items-end(style='background-image: url(images/work-3.jpg);')
          a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/work-3.jpg')
            span.fa.fa-expand
          .desc.w-100.px-4
            .text.w-100.mb-3
              span Engine
              h2
                a(href='work-single.html') Engine Diagnostics
      .col-md-4.ftco-animate
        .work.mb-4.img.d-flex.align-items-end(style='background-image: url(images/work-4.jpg);')
          a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/work-4.jpg')
            span.fa.fa-expand
          .desc.w-100.px-4
            .text.w-100.mb-3
              span Tire
              h2
                a(href='work-single.html') Tire Change
      .col-md-4.ftco-animate
        .work.mb-4.img.d-flex.align-items-end(style='background-image: url(images/work-5.jpg);')
          a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/work-5.jpg')
            span.fa.fa-expand
          .desc.w-100.px-4
            .text.w-100.mb-3
              span Tire
              h2
                a(href='work-single.html') Tire Change
      .col-md-4.ftco-animate
        .work.mb-4.img.d-flex.align-items-end(style='background-image: url(images/work-6.jpg);')
          a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/work-6.jpg')
            span.fa.fa-expand
          .desc.w-100.px-4
            .text.w-100.mb-3
              span Tire
              h2
                a(href='work-single.html') Tire Change
      .col-md-4.ftco-animate
        .work.mb-4.img.d-flex.align-items-end(style='background-image: url(images/work-7.jpg);')
          a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/work-7.jpg')
            span.fa.fa-expand
          .desc.w-100.px-4
            .text.w-100.mb-3
              span Tire
              h2
                a(href='work-single.html') Tire Change
      .col-md-4.ftco-animate
        .work.mb-4.img.d-flex.align-items-end(style='background-image: url(images/work-8.jpg);')
          a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/work-8.jpg')
            span.fa.fa-expand
          .desc.w-100.px-4
            .text.w-100.mb-3
              span Tire
              h2
                a(href='work-single.html') Tire Change
      .col-md-4.ftco-animate
        .work.mb-4.img.d-flex.align-items-end(style='background-image: url(images/work-9.jpg);')
          a.icon.image-popup.d-flex.justify-content-center.align-items-center(href='images/work-9.jpg')
            span.fa.fa-expand
          .desc.w-100.px-4
            .text.w-100.mb-3
              span Tire
              h2
                a(href='work-single.html') Tire Change
    .row.mt-5
      .col.text-center
        .block-27
          ul
            li
              a(href='#') &lt;
            li.active
              span 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') 5
            li
              a(href='#') &gt;
include includes/footer

