include ../../node_modules/bempug/index
- BEMPUG.modifier = '_';
- const titlePage = 'О нас | Авторемонт в Бресткой области';
- const nameBreadCrumbs = 'О нас';
- const classActiveLink = "О нас";

doctype html
html(lang="ru")
  include modules/head
  body
    include modules/header/header
    
    include modules/blocks/block-bread-crumbs

    include modules/blocks/block-videos
    
    include modules/blocks/block-data 

    include modules/blocks/block-consultation

    //- ниже это блок с отзывами !!

    //- section.ftco-section.testimony-section.bg-light
    //-   .container
    //-     .row.justify-content-center.pb-5.mb-3
    //-       .col-md-7.heading-section.heading-section-white.text-center.ftco-animate
    //-         span.subheading Testimonies
    //-         h2 Happy Clients &amp; Feedbacks
    //-     .row.ftco-animate
    //-       .col-md-12
    //-         .carousel-testimony.owl-carousel.ftco-owl
    //-           .item
    //-             .testimony-wrap.py-4
    //-               .icon.d-flex.align-items-center.justify-content-center
    //-                 span.fa.fa-quote-left
    //-               .text
    //-                 p.mb-4
    //-                   | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
    //-                 .d-flex.align-items-center
    //-                   .user-img(style='background-image: url(images/person_1.jpg)')
    //-                   .pl-3
    //-                     p.name Roger Scott
    //-                     span.position Marketing Manager
    //-           .item
    //-             .testimony-wrap.py-4
    //-               .icon.d-flex.align-items-center.justify-content-center
    //-                 span.fa.fa-quote-left
    //-               .text
    //-                 p.mb-4
    //-                   | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
    //-                 .d-flex.align-items-center
    //-                   .user-img(style='background-image: url(images/person_2.jpg)')
    //-                   .pl-3
    //-                     p.name Roger Scott
    //-                     span.position Marketing Manager
    //-           .item
    //-             .testimony-wrap.py-4
    //-               .icon.d-flex.align-items-center.justify-content-center
    //-                 span.fa.fa-quote-left
    //-               .text
    //-                 p.mb-4
    //-                   | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
    //-                 .d-flex.align-items-center
    //-                   .user-img(style='background-image: url(images/person_3.jpg)')
    //-                   .pl-3
    //-                     p.name Roger Scott
    //-                     span.position Marketing Manager
    //-           .item
    //-             .testimony-wrap.py-4
    //-               .icon.d-flex.align-items-center.justify-content-center
    //-                 span.fa.fa-quote-left
    //-               .text
    //-                 p.mb-4
    //-                   | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
    //-                 .d-flex.align-items-center
    //-                   .user-img(style='background-image: url(images/person_1.jpg)')
    //-                   .pl-3
    //-                     p.name Roger Scott
    //-                     span.position Marketing Manager
    //-           .item
    //-             .testimony-wrap.py-4
    //-               .icon.d-flex.align-items-center.justify-content-center
    //-                 span.fa.fa-quote-left
    //-               .text
    //-                 p.mb-4
    //-                   | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
    //-                 .d-flex.align-items-center
    //-                   .user-img(style='background-image: url(images/person_2.jpg)')
    //-                   .pl-3
    //-                     p.name Roger Scott
    //-                     span.position Marketing Manager

    include modules/footer/footer
