include ../../node_modules/bempug/index
- BEMPUG.modifier = '_';
- const titlePage = 'Контакты | Авторемонт в Бресткой области';
- const nameBreadCrumbs = 'Контакты';
- const classActiveLink = "Контакты";

doctype html
html(lang="ru")
  include modules/head
  body
    include modules/header/header
   
    include modules/bread-crumbs/bread-crumbs
    
      
    section.ftco-section.bg-light
        .container
          .row.justify-content-center
            .col-md-12
              .wrapper
                .row.no-gutters
                  .col-md-7.d-flex
                    .contact-wrap.w-100.p-md-5.p-4
                      h3.mb-4 Связаться
                      form#contactForm.contactForm(method='POST')
                        .row
                          .col-md-6
                            .form-group
                              input#name.form-control(type='text' name='name' placeholder='Имя')
                          .col-md-6
                            .form-group
                              input#email.form-control(type='email' name='email' placeholder='Email')
                          .col-md-12
                            .form-group
                              input#subject.form-control(type='text' name='subject' placeholder='Проблема')
                          .col-md-12
                            .form-group
                              textarea#message.form-control(name='message' cols='30' rows='7' placeholder='Сообщение')
                          .col-md-12
                            .form-group
                              input.btn.btn-primary(type='submit' value='Отправить сообщение')
                              .submitting
                  .col-md-5.d-flex.align-items-stretch
                    .info-wrap.bg-primary.w-100.p-lg-5.p-4
                      h3.mb-4.mt-md-4 Контакты
                      .dbox.w-100.d-flex.align-items-start
                        .icon.d-flex.align-items-center.justify-content-center
                          span.fa.fa-map-marker
                        .text.pl-3
                          p
                            span Адрес:
                            |  Брестский район, пос. Приборово, уч. 037
                      .dbox.w-100.d-flex.align-items-center
                        .icon.d-flex.align-items-center.justify-content-center
                          span.fa.fa-phone
                        .text.pl-3
                          p
                            span Телефон:
                            br
                            a(href="tel:+3750162505027") +375-0162-50-50-27
                            br
                            a(href="tel:+375298282254") +375-29-828-22-54
                      .dbox.w-100.d-flex.align-items-center
                        .icon.d-flex.align-items-center.justify-content-center
                          span.fa.fa-paper-plane
                        .text.pl-3
                          p
                            span Email:
                            a(href='mailto:avto-M-037@yandex.ru') avto-M-037@yandex.ru
                      .dbox.w-100.d-flex.align-items-center
                        .icon.d-flex.align-items-center.justify-content-center
                          span.fa.fa-globe
                        .text.pl-3
                          p
                            span Вебсайт  
                            a(href='#') yoursite.com
            .col-md-12
              iframe(src='https://yandex.ru/map-widget/v1/-/CCUa5BGdKA' width='100%' height='450' style='border:0;' allowfullscreen='' loading='lazy')#map.map






    include modules/footer/footer



