include ../../node_modules/bempug/index
- BEMPUG.modifier = '_';
- const titlePage = 'Услуги | Авторемонт в Бресткой области';
- const nameBreadCrumbs = 'Услуги';
- const classActiveLink = "Услуги";

doctype html
html(lang="ru")
  include modules/head

  body
    include modules/header/header

    include modules/bread-crumbs/bread-crumbs

    section.ftco-section
      .container

        include modules/blocks/block-services.pug

        .row.mt-4.mt-md-5.justify-content-between
          .col-md-7.ftco-animate
            p
              | Небольшая речка по имени Дуден протекает рядом с их местом и снабжает его необходимой регелиалией. Это райская страна, в которой жареные части предложений летят в рот. Далеко-далеко, за горами слов, далеко от стран Вокалии и Консонантии, живут слепые тексты. Разделенные, они живут в Букмарксгроуве, прямо на берегу Семантики, большого языкового океана.
          .col-md-4.ftco-animate
            h5.font-weight-bold Наши преимущества
            ul.services-2
              li
                span.fa.fa-check
                | Бесплатная Диагностика и проверка Тормозов
              li
                span.fa.fa-check
                | Сертифицированная Ремонтная Служба
              li
                span.fa.fa-check
                | Смета Ремонта
              li
                span.fa.fa-check
                | Авторемонтные Мастерские, Обслуживающие Клиентов

    include modules/footer/footer