section.hero-wrap.hero-wrap-2(style="background-image: url('images/bg_2.jpg');")
      .overlay
      .container
        .row.no-gutters.slider-text.align-items-end
          .col-md-9.ftco-animate.pb-5
            p.breadcrumbs.mb-2
              span.mr-2
                a(href='index.html')
                  | Главная
                  i.fa.fa-chevron-right
              span
                | #{nameBreadCrumbs}
                i.fa.fa-chevron-right
            h1.mb-0.bread #{nameBreadCrumbs}