section.ftco-section.ftco-no-pt.ftco-no-pb.bg-light
      .container
        .row.d-flex.no-gutters
          .col-md-6.d-flex
            .img.img-video.d-flex.align-self-stretch.align-items-center.justify-content-center.mb-4.mb-sm-0(style='background-image:url(images/about.jpg);')
              a.icon-video.popup-vimeo.d-flex.justify-content-center.align-items-center(href='https://vimeo.com/45830194')
                span.fa.fa-play
          .col-md-6.pl-md-5
            .row.justify-content-start.py-5
              .col-md-12.heading-section.ftco-animate
                span.subheading Добро пожаловать в Авторемонт
                h2.mb-4 Мы помогаем более 45 лет обслуживать автомобилей клиента
                p
                  | Далеко-далеко, за горами слов, далеко от стран Вокалии и Консонантии, живут слепые тексты. Разделенные, они живут в Букмарксгроуве, прямо на берегу Семантики, большого языкового океана. Небольшая речка по имени Дуден протекает рядом с их местом и снабжает его необходимой регелиалией. Это райская страна, в которой жареные части предложений летят в рот.
                .tabulation-2.mt-4
                  ul.nav.nav-pills.nav-fill.d-md-flex.d-block
                    li.nav-item.mb-md-0.mb-2
                      a.nav-link.active.py-2(data-toggle='tab' href='#home1') Наша Миссия
                    li.nav-item.px-lg-2.mb-md-0.mb-2
                      a.nav-link.py-2(data-toggle='tab' href='#home2') Наше Видение
                    li.nav-item
                      a.nav-link.py-2.mb-md-0.mb-2(data-toggle='tab' href='#home3') Наша Ценность
                  .tab-content.rounded.mt-2
                    #home1.tab-pane.container.p-0.active
                      p
                        | Далеко-далеко, за горами слов, далеко от стран Вокалии и Консонантии, живут слепые тексты. Разделенные, они живут в Букмарксгроуве, прямо на берегу Семантики, большого языкового океана.
                    #home2.tab-pane.container.p-0.fade
                      p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                    #home3.tab-pane.container.p-0.fade
                      p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.