section#section-counter.ftco-counter
      .container
        .row
          .col-md-6.col-lg-3.d-flex.justify-content-center.counter-wrap.ftco-animate
            .block-18.text-center
              .text
                strong.number(data-number='45') 0
              .text
                span Лет опыта
          .col-md-6.col-lg-3.d-flex.justify-content-center.counter-wrap.ftco-animate
            .block-18.text-center
              .text
                strong.number(data-number='8500') 0
              .text
                span Проектов завершено
          .col-md-6.col-lg-3.d-flex.justify-content-center.counter-wrap.ftco-animate
            .block-18.text-center
              .text
                strong.number(data-number='2342') 0
              .text
                span Счастливые клиенты
          .col-md-6.col-lg-3.d-flex.justify-content-center.counter-wrap.ftco-animate
            .block-18.text-center
              .text
                strong.number(data-number='30') 0
              .text
                span Награжден наградами