.row.justify-content-center.pb-5.mb-3
  .col-md-7.heading-section.text-center.ftco-animate
    span.subheading Предлагаем услуги
    h2 Наши услуги по ремонту
.row
  .col-md-4.services.ftco-animate
    .d-block.d-flex
      .icon.d-flex.justify-content-center.align-items-center
        span.flaticon-car-service
      .media-body.pl-3
        h3.heading Oil change
        p
          | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
        p
          a.btn-custom(href='single-service.html') Читать подробнее
    .d-block.d-flex
      .icon.d-flex.justify-content-center.align-items-center
        span.flaticon-tyre
      .media-body.pl-3
        h3.heading Tire Change
        p
          | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
        p
          a.btn-custom(href='single-service.html') Читать подробнее
  .col-md-4.services.ftco-animate
    .d-block.d-flex
      .icon.d-flex.justify-content-center.align-items-center
        span.flaticon-battery
      .media-body.pl-3
        h3.heading Batteries
        p
          | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
        p
          a.btn-custom(href='single-service.html') Читать подробнее
    .d-block.d-flex
      .icon.d-flex.justify-content-center.align-items-center
        span.flaticon-car-engine
      .media-body.pl-3
        h3.heading Engine Repair
        p
          | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
        p
          a.btn-custom(href='single-service.html') Читать подробнее
  .col-md-4.services.ftco-animate
    .d-block.d-flex
      .icon.d-flex.justify-content-center.align-items-center
        span.flaticon-tow-truck
      .media-body.pl-3
        h3.heading Tow Truck
        p
          | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
        p
          a.btn-custom(href='single-service.html') Читать подробнее
    .d-block.d-flex
      .icon.d-flex.justify-content-center.align-items-center
        span.flaticon-repair
      .media-body.pl-3
        h3.heading Car Maintenance
        p
          | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
        p
          a.btn-custom(href='single-service.html') Читать подробнее