.pt-5.mt-5
  h3.mb-5 6 Коментариев
  ul.comment-list
    li.comment
      .vcard.bio
        img(src="/images/person_1.jpg" alt='Image placeholder')
      .comment-body
        h3 Иван Иванов
        .meta 24 Февраля, 2020 в 14:22
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
        p
          a.reply(href='#') Ответить
    li.comment
      .vcard.bio
        img(src='/images/person_1.jpg' alt='Image placeholder')
      .comment-body
        h3 Иван Иванов
        .meta 24 Февраля, 2020 в 14:22
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
        p
          a.reply(href='#') Ответить
      ul.children
        li.comment
          .vcard.bio
            img(src='/images/person_1.jpg' alt='Image placeholder')
          .comment-body
            h3 Иван Иванов
            .meta 24 Февраля, 2020 в 14:22
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
            p
              a.reply(href='#') Ответить
          ul.children
            li.comment
              .vcard.bio
                img(src='/images/person_1.jpg' alt='Image placeholder')
              .comment-body
                h3 Иван Иванов
                .meta 24 Февраля, 2020 в 14:22
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                p
                  a.reply(href='#') Ответить
              ul.children
                li.comment
                  .vcard.bio
                    img(src='/images/person_1.jpg' alt='Image placeholder')
                  .comment-body
                    h3 Иван Иванов
                    .meta 24 Февраля, 2020 в 14:22
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                    p
                      a.reply(href='#') Ответить
    li.comment
      .vcard.bio
        img(src='/images/person_1.jpg' alt='Image placeholder')
      .comment-body
        h3 Иван Иванов
        .meta 24 Февраля, 2020 в 14:22
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
        p
          a.reply(href='#') Ответить
  // END comment-list
  .comment-form-wrap.pt-5
    h3.mb-5 Оставить комментарий
    form.p-5.bg-light(action='#')
      .form-group
        label(for='name') Ф.И.О. *
        input#name.form-control(type='text')
      .form-group
        label(for='email') Email *
        input#email.form-control(type='email')
      .form-group
        label(for='contact') Контакт для связи (телефон или соцсети)
        input#website.form-control(type='text')
      .form-group
        label(for='message') Сообщение *
        textarea#message.form-control(name='' cols='30' rows='10')
      .form-group
        input.btn.py-3.px-4.btn-primary(type='submit' value='Оставить комментарий')