-
  const nav = [
      {pageName : 'Главная', pageUrl : '/'},
      {pageName : 'Услуги', pageUrl : 'services.html'},
      {pageName : 'Блог', pageUrl : 'blog.html'},
      {pageName : 'Новости', pageUrl : 'news.html'},
      {pageName : 'Проекты', pageUrl : 'project.html'},
      {pageName : 'О нас', pageUrl : 'about.html'},
      {pageName : 'Контакты', pageUrl : 'contact.html'}
  ]

.wrap
  .container
    .row.justify-content-between
      .col-md-3.d-flex.align-items-center
        a.navbar-brand(href="index.html")
          | Avtoremont Brest
          span .
      .col-md-7
        .row
          .col
            .top-wrap.d-flex
              .icon.d-flex.align-items-center.justify-content-center
                span.fa.fa-location-arrow
              .text
                span Наш адрес
                span Брестский район,
                  br
                  | пос. Приборово, уч. 037
          .col
            .top-wrap.d-flex
              .icon.d-flex.align-items-center.justify-content-center
                span.fa.fa-phone
              .text
                span Наши контакты
                span
                  a(href="tel:+3750162505027") +375-0162-50-50-27
                  br
                  a(href="tel:+375298282254") +375-29-828-22-54
          .col-md-3.d-flex.justify-content-center.align-items-center
            .social-media
              p.mb-0.d-flex
                a.d-flex.align-items-center.justify-content-center(href='https://wa.me/375292062024?text=Здравствуйте!%20Запишите%20меня%20на%20диагностику%20и%20ремонт%20машины.')
                  span.fa.fa-whatsapp
                    i.sr-only Whatsapp
                a.d-flex.align-items-center.justify-content-center(href='mailto:avto-M-037@yandex.ru')
                  span.fa.fa-envelope-o
                    i.sr-only Email
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.fa.fa-twitter
                    i.sr-only Twitter

//start Menu
nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-dark.ftco-navbar-light
  .container
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#ftco-nav' aria-controls='ftco-nav' aria-expanded='false' aria-label='Toggle navigation')
      span.fa.fa-bars
      | Меню
    #ftco-nav.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        each link in nav
          if (classActiveLink === link.pageName)
            li.nav-item.active
              a.nav-link(href=link.pageUrl)=link.pageName
          else
            li.nav-item
              a.nav-link(href=link.pageUrl)=link.pageName
//-         li.nav-item
//-           a.nav-link(href='services.html') Услуги
//-         li.nav-item
//-           a.nav-link(href='blog.html') Блог
//-         li.nav-item
//-           a.nav-link(href='news.html') Новости
//-         li.nav-item
//-           a.nav-link(href='project.html') Project
//-         li.nav-item
//-           a.nav-link(href='about.html') О нас
//-         li.nav-item
//-           a.nav-link(href='contact.html') Контакты
//end Menu